<header>
   <nav id="menu">
      <a class="histolink" href="@{Application.home()}">home</a>
      <a class="histolink" href="@{Share.share()}">share</a>
   </nav>
   <aside class="connected" id="welcome">
      You are connected with <span id="username-welcome"></span>. <a class="logout"
                                                                     href='@{Security.logout()}'>logout</a>
   </aside>
   <aside id="login" class="not-connected">
      <!-- Simple OpenID Selector -->
      #{form @Secure.authenticate(), method:'get',id:'openid_form'}
      <input type="hidden" name="action" value="verify"/>

      <fieldset>

         <a class="google" href="javascript:openid.signin('google');"
            title="Connect with Google">Se connecter</a>
         #{if flash.error}
         <div class="errorbox">
            <h2>Erreur</h2>
            ${flash.error}
         </div>
         #{/if}
      </fieldset>
      #{/form}
   </aside>
</header>
<section class="clear"></section>


	
	
	