<header class="topbar">

   <div class="topbar-inner">
      <div class="container">
         <a class="brand" href="@{Application.index()}">Marmite Recos</a>
         <ul class="nav">
            <li><a class="histolink connected" href="@{Share.share()}">Partager</a></li>
            <li><a class="histolink" href="#recos">Recommandations</a></li>
         </ul>

         <p class="pull-right connected" id="welcome">You are connected with <a href="@{Security.logout()}"
                                                                                id="username-welcome"></a>.</p>

         <p id="login" class="pull-right not-connected"><a class="google" href="javascript:openid.signin('google');"
                                                           title="Connect with Google">Se connecter</a></p>

         <form class="" id="search-form" method="post" action="#search-results">
            Recettes:
            <input class="input-small" type="text" id="search-input" name="search-input"
                   value="${flash.search}" required/>
            <button class="btn" id="search-button" type="submit" name="submit">Search</button>
         </form>

      </div>
   </div>

</header>
#{form @Secure.authenticate(), method:'get',id:'openid_form'}
<input type="hidden" name="action" value="verify"/>
#{/form}



	
	
	