#{extends 'site.html' /}
#{set title:'Ma Marmite - Recommendation de recettes' /}

<div class="hero-unit">
   <h1>Recommandation de recettes</h1>


   <p class="not-connected" style="display:none;">
      Vous devez être connecté pour partager vos recettes préférées et obtenir de nouvelle recettes à tester !
   </p>

   <p class="connected" style="display:none;">
      <a class="histolink btn primary large" href="@{Share.share()}">Partagez vos recettes préférées</a> ou ajoutez des recettes existantes à vos recettes favoris.
   </p>
</div>

<section id="page_content" class="content">
   <!-- home is automatically load in main.js via load function -->
</section>

<aside id="search">


</aside>

<section id="lists" class="row">

   <aside id="search-results" class="span-one-two" style="display:none;"><h4>Search results :</h4>

      <div class="list" id="search-results-list"></div>
      <a id="search-results-list-prev" href="#">prev</a>
      <a id="search-results-list-next" href="#">next</a>
   </aside>

   <aside class="span-one-two">
      <h4>La marmite vous recommande :</h4>
      <a class="connected" id="user-recommendations-refresh" href="#">refresh</a>

      <div class="connected list" id="user-recommendations"></div>
      <div class="not-connected list">
         <p>Pour obtenir des recommandations, authentifiez-vous !</p>
      </div>

      <a id="user-recommendations-prev" href="#">&lt;&lt;</a>
      <a id="user-recommendations-next" href="#">&gt;&gt;</a>
   </aside>

</section>


<script type="text/javascript">
   require(["jquery", "widgets/likedlist", "widgets/likedaddbox", "widgets/login"], function($, LikedList, LikedAddBox, Login) {

      $(document).ready(function() {
         $('#search-button').click(function(e) {
            e.preventDefault();
            $('#search-results').show();
            var searchText = $('#search-input').val();
            LikedList.Instance('search-results-list', '@{Application.search()}', {pageSize:"5", startIndex:"1", text: searchText}, '@{Reco.isLiked()}', '@{Reco.switchLike()}');
         });

         var likedPageUrl = #{jsAction @Application.liked(':likedId') /};

         var onConnectedUser = function(username) {
            Login.withConnectedUserDefault(username);
            var userRecommendations = LikedList.Instance('user-recommendations', '@{Reco.recommendUser()}', {pageSize:"5", startIndex:"1"}, '@{Reco.isLiked()}', '@{Reco.switchLike()}');
            var likedAddBox = new LikedAddBox.Instance('add-liked', '@{Reco.addLiked()}');
            likedAddBox.onLikedAdded.add(function(newLiked) {
               $.history.load(likedPageUrl({likedId: newLiked.id}));
            });
         }

         Login.init('@{Security.userName()}', onConnectedUser);

      });
   });
</script>