<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">

<head>
   <title>#{get 'title' /}</title>
   <meta charset="utf-8">
   <meta name="robots" content="index, follow"/>
   <meta name="keywords" content="Recommendation website, recommendation, machine learning"/>
   <meta name="description" content="trouver les recettes que vous aimerez"/>
   <meta name="author" content="Jean-Baptiste Lemée"/>
   <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
   #{get 'moreStyles' /}
   <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
   <!-- <script src="@{'/public/javascripts/jquery.js'}" type="text/javascript" charset="utf-8"></script>-->
   <script data-main="@{'/public/javascripts'}/main" src="@{'/public/javascripts/require.js'}" type="text/javascript"
           charset="utf-8"></script>
   #{get 'moreScripts' /}
</head>
<body>
#{doLayout /}
<script type="text/javascript">
   require(["jquery"], function($) {
      $(document).ready(function() {
      });
   });
</script>
</body>
</html>
